In [20]:
import pandas as pd


aq1701_1801=pd.read_csv('airq1701_1801_longlat.csv',index_col=0)

aq1701_1801.isnull().sum()

stationId        0
utc_time         0
PM2.5        20389
PM10         83263
NO2          18651
CO           42813
O3           20421
SO2          18548
longitude        0
latitude         0
dtype: int64

In [36]:
aq180203=pd.read_csv('airQuality_201802-201803.csv')

In [37]:
columns = aq180203.columns
percent_missing = aq180203.isnull().sum() * 100 / len(aq180203)
missing_value_df = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing})
missing_value_df

          column_name  percent_missing
stationId   stationId         0.000000
utc_time     utc_time         0.000000
PM2.5           PM2.5         6.212060
PM10             PM10        26.127074
NO2               NO2         6.210036
CO                 CO         6.740186
O3                 O3         6.699717
SO2               SO2         6.305140

In [29]:
aq1804=pd.read_csv('airQuality_201804.csv')

In [32]:
columns = aq1804.columns
percent_missing = aq1804.isnull().sum() * 100 / len(aq1804)
missing_value_df = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing})
missing_value_df

                           column_name  percent_missing
id                                  id         0.000000
station_id                  station_id         0.000000
time                              time         0.000000
PM25_Concentration  PM25_Concentration         5.298155
PM10_Concentration  PM10_Concentration        20.956671
NO2_Concentration    NO2_Concentration         4.495924
CO_Concentration      CO_Concentration         4.483054
O3_Concentration      O3_Concentration         5.113685
SO2_Concentration    SO2_Concentration         4.401544

In [21]:

duplicated=[]
aq1701_1801['duplicated'] = aq1701_1801.duplicated()

for i in aq1701_1801['duplicated']:
    #print(i)
    if i==True:
        duplicated.append(i)
len(duplicated)

6475

# Check missing values

In [22]:
columns = aq1701_1801.columns
percent_missing = aq1701_1801.isnull().sum() * 100 / len(aq1701_1801)
missing_value_df = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing})
missing_value_df

           column_name  percent_missing
stationId    stationId         0.000000
utc_time      utc_time         0.000000
PM2.5            PM2.5         6.555738
PM10              PM10        26.771808
NO2                NO2         5.996913
CO                  CO        13.765795
O3                  O3         6.566027
SO2                SO2         5.963795
longitude    longitude         0.000000
latitude      latitude         0.000000
duplicated  duplicated         0.000000

In [23]:
aq1802=pd.read_csv('airQuality_201802-201803.csv',index_col=0)

aq1802.isnull().sum()

utc_time        0
PM2.5        3070
PM10        12912
NO2          3069
CO           3331
O3           3311
SO2          3116
dtype: int64

In [24]:
columns = aq1802.columns
percent_missing2 = aq1802.isnull().sum() * 100 / len(aq1802)
missing_value_df2 = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing2})
missing_value_df2

         column_name  percent_missing
utc_time    utc_time         0.000000
PM2.5          PM2.5         6.212060
PM10            PM10        26.127074
NO2              NO2         6.210036
CO                CO         6.740186
O3                O3         6.699717
SO2              SO2         6.305140

In [25]:
aq1804=pd.read_csv('airQuality_201804.csv',index_col=0)

aq1804.isnull().sum()

station_id               0
time                     0
PM25_Concentration    1235
PM10_Concentration    4885
NO2_Concentration     1048
CO_Concentration      1045
O3_Concentration      1192
SO2_Concentration     1026
dtype: int64

In [26]:
columns = aq1804.columns
percent_missing3 = aq1804.isnull().sum() * 100 / len(aq1804)
missing_value_df3 = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing3})
missing_value_df3

                           column_name  percent_missing
station_id                  station_id         0.000000
time                              time         0.000000
PM25_Concentration  PM25_Concentration         5.298155
PM10_Concentration  PM10_Concentration        20.956671
NO2_Concentration    NO2_Concentration         4.495924
CO_Concentration      CO_Concentration         4.483054
O3_Concentration      O3_Concentration         5.113685
SO2_Concentration    SO2_Concentration         4.401544

# Select time from april to june

In [27]:

df = aq1701_1801[(aq1701_1801['utc_time'] >='2017-04-01 00:00')& (aq1701_1801['utc_time'] < '2017-07-01 00:00')]
df[4000:]

,stationId,utc_time,PM2.5,PM10,NO2,CO,O3,SO2,longitude,latitude,duplicated
20100,beibuxinqu_aq,2017-04-15 12:00:00,30.0,100.0,18.0,0.3,128.0,3.0,116.174,40.090,False
20101,beibuxinqu_aq,2017-04-15 13:00:00,36.0,98.0,18.0,0.3,121.0,6.0,116.174,40.090,False
20102,beibuxinqu_aq,2017-04-15 14:00:00,22.0,94.0,28.0,0.3,93.0,5.0,116.174,40.090,False
20103,beibuxinqu_aq,2017-04-15 15:00:00,45.0,98.0,37.0,0.5,53.0,3.0,116.174,40.090,False
20104,beibuxinqu_aq,2017-04-15 16:00:00,31.0,100.0,53.0,0.5,19.0,2.0,116.174,40.090,False
20105,beibuxinqu_aq,2017-04-15 17:00:00,33.0,79.0,80.0,0.5,2.0,2.0,116.174,40.090,False
20106,beibuxinqu_aq,2017-04-15 18:00:00,42.0,89.0,87.0,0.6,2.0,7.0,116.174,40.090,False
20107,beibuxinqu_aq,2017-04-15 19:00:00,35.0,114.0,79.0,0.6,2.0,5.0,116.174,40.090,False
20108,beibuxinqu_aq,2017-04-15 20:00:00,27.0,89.0,74.0,0.6,2.0,3.0,116.174,40.090,False
20109,beibuxinqu_aq,2017-04-15 21:00:00,33.0,81.0,62.0,0.6,2.0,3.0,116.174,40.090,False
20110,beibuxinqu_aq,2017-04-15 22:00:00,30.0,69.0,66.0,0.7,2.0,2.0,116.174,40.090,False
20111,beibuxinqu_aq,2017-04-15 23:00:00,47.0,98.0,62.0,0.8,2.0,3.0,116.174,40.090,False
20112,beibuxinqu_aq,2017-04-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,116.174,40.090,False
20113,beibuxinqu_aq,2017-04-16 01:00:00,67.0,151.0,80.0,0.8,5.0,7.0,116.174,40.090,False
20114,beibuxinqu_aq,2017-04-16 02:00:00,61.0,129.0,86.0,0.7,14.0,6.0,116.174,40.090,False
20115,beibuxinqu_aq,2017-04-16 03:00:00,87.0,156.0,73.0,0.7,47.0,18.0,116.174,40.090,False
20116,beibuxinqu_aq,2017-04-16 04:00:00,130.0,240.0,81.0,1.3,64.0,37.0,116.174,40.090,False
20117,beibuxinqu_aq,2017-04-16 05:00:00,144.0,254.0,74.0,1.5,88.0,41.0,116.174,40.090,False
20118,beibuxinqu_aq,2017-04-16 06:00:00,145.0,238.0,80.0,1.3,96.0,39.0,116.174,40.090,False
20119,beibuxinqu_aq,2017-04-16 07:00:00,156.0,215.0,81.0,1.2,110.0,34.0,116.174,40.090,False
20120,beibuxinqu_aq,2017-04-16 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,116.174,40.090,False
20121,beibuxinqu_aq,2017-04-16 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,116.174,40.090,False
20122,beibuxinqu_aq,2017-04-16 10:00:00,NaN,6.0,NaN,NaN,NaN,NaN,116.174,40.090,False
20123,beibuxinqu_aq,2017-04-16 11:00:00,NaN,6.0,52.0,1.9,92.0,18.0,116.174,40.090,False
20124,beibuxinqu_aq,2017-04-16 12:00:00,125.0,269.0,79.0,1.8,79.0,16.0,116.174,40.090,False
20125,beibuxinqu_aq,2017-04-16 13:00:00,157.0,271.0,79.0,1.7,58.0,13.0,116.174,40.090,False
20126,beibuxinqu_aq,2017-04-16 14:00:00,167.0,210.0,60.0,1.5,68.0,15.0,116.174,40.090,False
20127,beibuxinqu_aq,2017-04-16 15:00:00,168.0,210.0,64.0,1.5,50.0,13.0,116.174,40.090,False
20128,beibuxinqu_aq,2017-04-16 16:00:00,164.0,210.0,63.0,1.5,31.0,8.0,116.174,40.090,False
20129,beibuxinqu_aq,2017-04-16 17:00:00,164.0,199.0,61.0,1.5,25.0,7.0,116.174,40.090,False
...,...,...,...,...,...,...,...,...,...,...,...
305900,zhiwuyuan_aq,2017-06-29 18:00:00,51.0,170.0,22.0,0.7,59.0,2.0,116.207,40.002,False
305901,zhiwuyuan_aq,2017-06-29 19:00:00,69.0,NaN,20.0,0.7,46.0,2.0,116.207,40.002,False
305902,zhiwuyuan_aq,2017-06-29 20:00:00,62.0,NaN,18.0,0.7,65.0,2.0,116.207,40.002,False
305903,zhiwuyuan_aq,2017-06-29 21:00:00,67.0,NaN,18.0,0.7,45.0,2.0,116.207,40.002,False
305904,zhiwuyuan_aq,2017-06-29 22:00:00,77.0,NaN,32.0,0.7,33.0,2.0,116.207,40.002,False
305905,zhiwuyuan_aq,2017-06-29 23:00:00,76.0,76.0,42.0,0.7,39.0,2.0,116.207,40.002,False
305906,zhiwuyuan_aq,2017-06-30 00:00:00,84.0,140.0,42.0,0.8,56.0,2.0,116.207,40.002,False
305907,zhiwuyuan_aq,2017-06-30 01:00:00,82.0,174.0,40.0,0.8,78.0,2.0,116.207,40.002,False
305908,zhiwuyuan_aq,2017-06-30 02:00:00,93.0,NaN,28.0,0.8,128.0,2.0,116.207,40.002,False
305909,zhiwuyuan_aq,2017-06-30 03:00:00,75.0,83.0,29.0,0.8,160.0,2.0,116.207,40.002,False
305910,zhiwuyuan_aq,2017-06-30 04:00:00,108.0,NaN,28.0,0.8,210.0,2.0,116.207,40.002,False
305911,zhiwuyuan_aq,2017-06-30 05:00:00,102.0,103.0,26.0,0.9,261.0,2.0,116.207,40.002,False
305912,zhiwuyuan_aq,2017-06-30 06:00:00,111.0,NaN,30.0,1.0,301.0,2.0,116.207,40.002,False
305913,zhiwuyuan_aq,2017-06-30 07:00:00,89.0,108.0,17.0,0.8,292.0,2.0,116.207,40.002,False
305914,zhiwuyuan_aq,2017-06-30 08:00:00,66.0,NaN,12.0,0.7,276.0,2.0,116.207,40.002,False
305915,zhiwuyuan_aq,2017-06-30 09:00:00,69.0,79.0,12.0,0.7,271.0,2.0,116.207,40.002,False
305916,zhiwuyuan_aq,2017-06-30 10:00:00,50.0,51.0,11.0,0.6,245.0,2.0,116.207,40.002,False
305917,zhiwuyuan_aq,2017-06-30 11:00:00,52.0,71.0,13.0,0.6,198.0,2.0,116.207,40.002,False
305918,zhiwuyuan_aq,2017-06-30 12:00:00,55.0,68.0,17.0,0.9,152.0,2.0,116.207,40.002,False
305919,zhiwuyuan_aq,2017-06-30 13:00:00,66.0,70.0,16.0,0.6,162.0,2.0,116.207,40.002,False
305920,zhiwuyuan_aq,2017-06-30 14:00:00,74.0,108.0,14.0,0.7,159.0,2.0,116.207,40.002,False
305921,zhiwuyuan_aq,2017-06-30 15:00:00,55.0,61.0,22.0,0.7,127.0,2.0,116.207,40.002,False
305922,zhiwuyuan_aq,2017-06-30 16:00:00,79.0,97.0,35.0,0.8,70.0,2.0,116.207,40.002,False
305923,zhiwuyuan_aq,2017-06-30 17:00:00,69.0,72.0,25.0,0.7,78.0,2.0,116.207,40.002,False
305924,zhiwuyuan_aq,2017-06-30 18:00:00,74.0,93.0,23.0,0.7,68.0,19.0,116.207,40.002,False
305925,zhiwuyuan_aq,2017-06-30 19:00:00,73.0,116.0,20.0,0.7,68.0,2.0,116.207,40.002,False
305926,zhiwuyuan_aq,2017-06-30 20:00:00,84.0,128.0,23.0,0.7,65.0,2.0,116.207,40.002,False
305927,zhiwuyuan_aq,2017-06-30 21:00:00,74.0,172.0,12.0,0.8,63.0,2.0,116.207,40.002,False
305928,zhiwuyuan_aq,2017-06-30 22:00:00,100.0,151.0,18.0,0.9,46.0,2.0,116.207,40.002,False
305929,zhiwuyuan_aq,2017-06-30 23:00:00,83.0,142.0,16.0,0.8,39.0,2.0,116.207,40.002,False

In [28]:
df.to_csv('airq1704_1706_longlat.csv',index=False)
df.head(5)

,stationId,utc_time,PM2.5,PM10,NO2,CO,O3,SO2,longitude,latitude,duplicated
1980,aotizhongxin_aq,2017-04-01 00:00:00,16.0,50.0,60.0,0.4,17.0,2.0,116.397,39.982,False
1981,aotizhongxin_aq,2017-04-01 01:00:00,18.0,59.0,54.0,0.4,25.0,4.0,116.397,39.982,False
1982,aotizhongxin_aq,2017-04-01 02:00:00,16.0,41.0,43.0,0.4,36.0,3.0,116.397,39.982,False
1983,aotizhongxin_aq,2017-04-01 03:00:00,18.0,28.0,26.0,0.3,54.0,5.0,116.397,39.982,False
1984,aotizhongxin_aq,2017-04-01 04:00:00,7.0,31.0,26.0,0.3,58.0,4.0,116.397,39.982,False

# Observedweather

In [13]:
ob=pd.read_csv('observedWeather_201701-201801.csv')
ob.head(5)

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
0,shunyi_meo,116.615278,40.126667,2017-01-30 16:00:00,-1.7,1028.7,15,215.0,1.6,Sunny/clear
1,shunyi_meo,116.615278,40.126667,2017-01-30 17:00:00,-3.5,1028.4,24,16.0,1.0,Haze
2,shunyi_meo,116.615278,40.126667,2017-01-30 18:00:00,-3.7,1028.1,27,32.0,1.1,Haze
3,shunyi_meo,116.615278,40.126667,2017-01-30 19:00:00,-3.9,1027.6,27,21.0,0.9,Haze
4,shunyi_meo,116.615278,40.126667,2017-01-30 20:00:00,-4.1,1026.7,26,17.0,1.1,Haze

In [14]:
columns = ob.columns
percent_missing4 = ob.isnull().sum() * 100 / len(ob)
missing_value_df4 = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing4})
missing_value_df4

                   column_name  percent_missing
station_id          station_id         0.000000
longitude            longitude         0.000000
latitude              latitude         0.000000
utc_time              utc_time         0.000000
temperature        temperature         0.000000
pressure              pressure         0.000000
humidity              humidity         0.000000
wind_direction  wind_direction         0.148057
wind_speed          wind_speed         0.148057
weather                weather         0.000000

In [4]:
df2 = ob[(ob['utc_time'] >='2017-04-01 00:00:00')& (ob['utc_time'] <= '2017-06-30 23:00:00')]
#df2=df2.drop('weather',axis=1)
df2.head(5)

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
1448,shunyi_meo,116.615278,40.126667,2017-04-01 00:00:00,10.7,1015.8,32,342.0,0.8,Sunny/clear
1449,shunyi_meo,116.615278,40.126667,2017-04-01 01:00:00,13.5,1015.7,22,6.0,1.8,Sunny/clear
1450,shunyi_meo,116.615278,40.126667,2017-04-01 02:00:00,16.2,1015.1,17,359.0,1.0,Sunny/clear
1451,shunyi_meo,116.615278,40.126667,2017-04-01 03:00:00,19.0,1014.0,14,159.0,1.2,Sunny/clear
1452,shunyi_meo,116.615278,40.126667,2017-04-01 04:00:00,18.9,1013.1,14,230.0,1.5,Sunny/clear

In [5]:
df2.to_csv('observedWeather1704-1706.csv')
df2.head(5)

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
1448,shunyi_meo,116.615278,40.126667,2017-04-01 00:00:00,10.7,1015.8,32,342.0,0.8,Sunny/clear
1449,shunyi_meo,116.615278,40.126667,2017-04-01 01:00:00,13.5,1015.7,22,6.0,1.8,Sunny/clear
1450,shunyi_meo,116.615278,40.126667,2017-04-01 02:00:00,16.2,1015.1,17,359.0,1.0,Sunny/clear
1451,shunyi_meo,116.615278,40.126667,2017-04-01 03:00:00,19.0,1014.0,14,159.0,1.2,Sunny/clear
1452,shunyi_meo,116.615278,40.126667,2017-04-01 04:00:00,18.9,1013.1,14,230.0,1.5,Sunny/clear

# GridWeather

In [15]:
grid=pd.read_csv('gridWeather_201701-201803.csv')
grid.head(5)

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph
0,beijing_grid_000,115.0,39.0,2017-01-01 00:00:00,-5.47,984.73,76.60,53.71,3.53
1,beijing_grid_001,115.0,39.1,2017-01-01 00:00:00,-5.53,979.33,75.40,43.59,3.11
2,beijing_grid_002,115.0,39.2,2017-01-01 00:00:00,-5.70,963.14,71.80,0.97,2.75
3,beijing_grid_003,115.0,39.3,2017-01-01 00:00:00,-5.88,946.94,68.20,327.65,3.84
4,beijing_grid_004,115.0,39.4,2017-01-01 00:00:00,-5.34,928.80,58.81,317.85,6.14

In [16]:
columns = grid.columns
percent_missing5 = grid.isnull().sum() * 100 / len(grid)
missing_value_df5 = pd.DataFrame({'column_name': columns,
                                 'percent_missing': percent_missing5})
missing_value_df5

                   column_name  percent_missing
stationName        stationName              0.0
longitude            longitude              0.0
latitude              latitude              0.0
utc_time              utc_time              0.0
temperature        temperature              0.0
pressure              pressure              0.0
humidity              humidity              0.0
wind_direction  wind_direction              0.0
wind_speed/kph  wind_speed/kph              0.0

In [116]:
df3 = grid[(grid['utc_time'] >='2017-04-01 00:00:00')& (grid['utc_time'] <= '2017-06-30 23:00:00')]
df3.head(5)

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph
1406160,beijing_grid_000,115.0,39.0,2017-04-01 00:00:00,10.55,980.06,28.80,307.92,12.59
1406161,beijing_grid_001,115.0,39.1,2017-04-01 00:00:00,10.31,974.89,28.83,307.06,12.61
1406162,beijing_grid_002,115.0,39.2,2017-04-01 00:00:00,9.58,959.35,28.91,304.48,12.65
1406163,beijing_grid_003,115.0,39.3,2017-04-01 00:00:00,8.85,943.82,29.00,301.94,12.73
1406164,beijing_grid_004,115.0,39.4,2017-04-01 00:00:00,7.65,926.03,30.24,305.52,13.15

In [118]:
df3.to_csv('gridWeather1704-1706.csv')
df3.head(5)

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph
1406160,beijing_grid_000,115.0,39.0,2017-04-01 00:00:00,10.55,980.06,28.80,307.92,12.59
1406161,beijing_grid_001,115.0,39.1,2017-04-01 00:00:00,10.31,974.89,28.83,307.06,12.61
1406162,beijing_grid_002,115.0,39.2,2017-04-01 00:00:00,9.58,959.35,28.91,304.48,12.65
1406163,beijing_grid_003,115.0,39.3,2017-04-01 00:00:00,8.85,943.82,29.00,301.94,12.73
1406164,beijing_grid_004,115.0,39.4,2017-04-01 00:00:00,7.65,926.03,30.24,305.52,13.15